n8n-workflows/keyword-research.json
{
  "name": "SEO Keyword Research AI Agent",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "webhook",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/n8n-webhook",
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.keyword }}"
            }
          ]
        }
      },
      "name": "Flask API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [620, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nreturn [{ json: { \n  success: true, \n  seed_keyword: result.seed_keyword,\n  top_5_keywords: result.keywords.slice(0, 5),\n  total_keywords: result.keywords.length,\n  best_opportunity: result.keywords[0],\n  n8n_processed: result.n8n_processed\n} }];"
      },
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Webhook", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Flask API", "type": "main", "index": 0 }]]
    },
    "Flask API": {
      "main": [[{ "node": "Process Results", "type": "main", "index": 0 }]]
    },
    "Process Results": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  }
}